@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --white: #fff;
    
    /*blue scheme*/
    --egyptian-blue: #0a369dff;
    --han-blue: #4472caff;
    --glaucous: #5e7ce2ff;
    --french-sky-blue: #92b4f4ff;
    --beau-blue: #cfdee7ff;
    
    /*red scheme*/
    --xiketic: #03071eff;
    --dark-sienna: #370617ff;
    --rosewood: #6a040fff;
    --dark-red: #9d0208ff;
    --rosso-corsa: #d00000ff;
    --vermilion: #dc2f02ff;
    --persimmon: #e85d04ff;
    --carrot-orange: #f48c06ff;
    --orange-web: #faa307ff;
    --selective-yellow: #ffba08ff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    outline: none;
}
#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: 'Segoe UI';
    text-align: center;
}
.title.f{
    color: var(--egyptian-blue);
}
.title.c{
    color: var(--vermilion);
}
.inputbox{
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.inputbox.f{
    border: 2px dotted #0075F2;
}
.inputbox.c{
    border: 2px dashed var(--carrot-orange);
}
.inputbox i{
    margin-right: 5px;
}
.input{
    border: 0;
    width: 95%;
}
.button{
    border: 0;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    align-self: center;
}
.button.f{
    background: var(--han-blue);
    color: var(--white);
}
.button.c{
    background: tomato;
    color: var(--white);
}
.result.value{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}
.result.value.f{
    color: var(--glaucous);
}
.result.value.c{
    color: var(--persimmon);
}
.converter {
    min-width: 360px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.converter.fc{
    border: 2px dotted #0075f2;
}
.converter.cf{
    border: 2px dashed var(--carrot-orange);
}